.document-info {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

.document-info h2 {
    margin-top: 0;
}

#document-details p {
    margin: 10px 0;
}
