body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.data-section, .pontos-section {
    margin-bottom: 20px;
}

.pontos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ponto-box {
    width: 48%;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.ponto-box h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #007BFF;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
