body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.data-section {
    background-color: #e6f7ff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.localizacao-section {
    margin-top: 20px;
}

.localizacao-section h2 {
    text-align: center;
    color: #007BFF;
}

.pontos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ponto-box {
    width: 30%;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.ponto-box h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #007BFF;
}

input[type="text"], input[type="date"], input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
